<div class="search-and-filter">
  <div class="search">
    <div class="search-div">
      <img class="search-icon" src="images/search-icon.svg" alt="" />
    </div>
    <div>
      <img class="search-underline" src="images/line.png" alt="" />
    </div>
    <div>
      <input
        class="search-text"
        type="text"
        id="textPlaceholder"
        name="search-text"
        placeholder="Enter search request..."
      />
    </div>
  </div>
  <div class="filter">
    <div class="filter-div">
      <img class="filter-icon" src="images/filter.png" alt="" />
    </div>
  </div>
</div>
